---
keywords: static site, effable
title: Multi-Hbs effable generated static site
description: Static site made with effable and generated with effable-cli
priority: 0.6

collection:
  source: posts.*.tags.*
---
{{#>layouts.base}}
  <hr/>
  <br/>

  {{#each (routes-each routes.blog "date")}}
    {{#contains tags ../content}}
      {{>components.blog.post}}
    {{/contains}}
  {{else}}
    <p>Non ci sono news recenti!</p>
  {{/each}}
{{/layouts.base}}

{{#*inline "bottom_section"}}
  <h2>Bottom section nested inside blog post partial</h2>
  <br/>
{{/inline}}