---
keywords: static site, effable
title: Multi-Hbs effable generated static site
description: Static site made with effable and generated with effable-cli
priority: 0.6

collection:
  source: posts.*.tags.*
---
{{#>layouts.base}}
  <div class="sm:pr-8 sm:py-8">
    <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
      {{content}}
    </h2>
    <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
    <section>
      {{#each (routes-each routes.blog "date")}}
        {{#if (contains tags ../content)}}
          {{> components.blog.tags-post}}
        {{/if}}
      {{else}}
        <p>Non ci sono news recenti!</p>
      {{/each}}
    </section>
  </div>
{{/layouts.base}}

{{#*inline "bottom_section"}}
  <br/>
  <br/>
  <h5>Bottom section nested inside blog post partial</h5>
  <br/>
{{/inline}}