---
keywords: static site, effable
title: Multi-Hbs effable generated static site
description: Static site made with effable and generated with effable-cli
priority: 0.8

page:
  name: Posts
  title: Posts Page
  order: 10
---
{{#>layouts.base}}
  <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
    <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
      </svg>
    </div>
    <div class="flex flex-col items-center text-center justify-center">
      <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
        grouped by tags:
      </h2>
      <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
      </svg>
      {{#each (routes-binded-each routes.blog.tags)}}
        {{> components.blog.index-tag}}
      {{else}}
        <p>There ar no tags for now!</p>
      {{/each}}
    </div>
  </div>
  <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left divide-y-2 divide-gray-100">
    {{#each (routes-each routes.blog "date")}}
      {{> components.blog.index-post}}
    {{else}}
      <p>There ar no posts for now!</p>
    {{/each}}
    
  </div>
{{/layouts.base}}

{{#*inline "bottom_section"}}
  <h2>Bottom section nested inside blog post partial</h2>
  <br/>
{{/inline}}