<!DOCTYPE html>
<html lang="en">
  <head>
    {{html-metatags}}
    
    {{> resx_header }}
  </head>

  <body>
    {{> @partial-block }}

    <section>
      {{#> bottom_section}}{{/bottom_section}}
    </section>
    
    {{> resx_footer }}
  </body>
</html>