---
keywords: static site, effable
title: Multi-Hbs effable generated static site
description: Static site made with effable and generated with effable-cli
priority: 1.0

page:
  name: Index
  title: Index Page
  order: 0
---
{{#>layouts.base}}
  <h3>{{data.otherdata.siteName}}</h3>
  <p>
    Static site made with effable and generated with effable-cli
  </p>
{{/layouts.base}}